In [20]:
import os
import kaggle as kg
from kaggle.api.kaggle_api_extended import KaggleApi
import pathlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf
from keras.utils import to_categorical

In [21]:
os.environ["KAGGLE_USERNAME"] = "dineshsingh09"
os.environ["KAGGLE_KEY"] = "5d49cf063daed523969d23a5b3cec669"

In [22]:
api = KaggleApi()

In [23]:
kg.api.authenticate()

In [24]:
kg.api.dataset_download_files(dataset="medahmedkrichen/devanagari-handwritten-character-datase",
                              path="dataset",unzip=True)

Dataset URL: https://www.kaggle.com/datasets/medahmedkrichen/devanagari-handwritten-character-datase

In [38]:
def train_test_df(path):

    img_path = list()
    img_label = list()

    for single_class_dir_path in pathlib.Path(path).glob("*"):

        for single_class_img_path in pathlib.Path(single_class_dir_path).glob("*.png"):

            img_path.append(str(single_class_img_path))
            #print(str(single_class_img_path).split("/")[-2].split("_")[-1])
            img_label.append(str(single_class_img_path).split("/")[-2].split("_")[-1])

    return pd.DataFrame(data={"img_path":img_path,"label":img_label})

In [39]:
train_path = "dataset/DevanagariHandwrittenCharacterDataset/Train"
test_path = "dataset/DevanagariHandwrittenCharacterDataset/Test"

In [40]:
training_data = train_test_df(train_path)
testing_data = train_test_df(test_path)

In [41]:
training_data

                                                img_path label
0      dataset/DevanagariHandwrittenCharacterDataset/...   jha
1      dataset/DevanagariHandwrittenCharacterDataset/...   jha
2      dataset/DevanagariHandwrittenCharacterDataset/...   jha
3      dataset/DevanagariHandwrittenCharacterDataset/...   jha
4      dataset/DevanagariHandwrittenCharacterDataset/...   jha
...                                                  ...   ...
78195  dataset/DevanagariHandwrittenCharacterDataset/...    pa
78196  dataset/DevanagariHandwrittenCharacterDataset/...    pa
78197  dataset/DevanagariHandwrittenCharacterDataset/...    pa
78198  dataset/DevanagariHandwrittenCharacterDataset/...    pa
78199  dataset/DevanagariHandwrittenCharacterDataset/...    pa

[78200 rows x 2 columns]

In [42]:
testing_data

                                                img_path label
0      dataset/DevanagariHandwrittenCharacterDataset/...   jha
1      dataset/DevanagariHandwrittenCharacterDataset/...   jha
2      dataset/DevanagariHandwrittenCharacterDataset/...   jha
3      dataset/DevanagariHandwrittenCharacterDataset/...   jha
4      dataset/DevanagariHandwrittenCharacterDataset/...   jha
...                                                  ...   ...
13795  dataset/DevanagariHandwrittenCharacterDataset/...    pa
13796  dataset/DevanagariHandwrittenCharacterDataset/...    pa
13797  dataset/DevanagariHandwrittenCharacterDataset/...    pa
13798  dataset/DevanagariHandwrittenCharacterDataset/...    pa
13799  dataset/DevanagariHandwrittenCharacterDataset/...    pa

[13800 rows x 2 columns]

In [43]:
character2int = dict(zip(training_data["label"].unique(),range(len(training_data["label"].unique()))))

In [44]:

character2int

{'jha': 0,
 'ka': 1,
 'da': 2,
 'yna': 3,
 'tha': 4,
 'daa': 5,
 'adna': 6,
 '8': 7,
 'yaw': 8,
 'kha': 9,
 'dhaa': 10,
 'petchiryakha': 11,
 'la': 12,
 'ba': 13,
 'bha': 14,
 'ga': 15,
 'chhya': 16,
 '4': 17,
 'ma': 18,
 'gha': 19,
 '9': 20,
 'chha': 21,
 'waw': 22,
 '2': 23,
 'tabala': 24,
 'cha': 25,
 '7': 26,
 'ha': 27,
 'pha': 28,
 'tra': 29,
 'ra': 30,
 'gya': 31,
 'na': 32,
 'dha': 33,
 'kna': 34,
 '1': 35,
 'motosaw': 36,
 '5': 37,
 '3': 38,
 'patalosaw': 39,
 '0': 40,
 'taamatar': 41,
 'ja': 42,
 'thaa': 43,
 '6': 44,
 'pa': 45}

In [45]:
training_data["label"].replace(to_replace=character2int.keys(),value=character2int.values(),
                               inplace=True)

/tmp/ipykernel_2487/2698354796.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  training_data["label"].replace(to_replace=character2int.keys(),value=character2int.values(),
/tmp/ipykernel_2487/2698354796.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  training_data["label"].replace(to_replace=character2int.keys(),value=character2int.values(),

In [46]:

training_data

                                                img_path  label
0      dataset/DevanagariHandwrittenCharacterDataset/...      0
1      dataset/DevanagariHandwrittenCharacterDataset/...      0
2      dataset/DevanagariHandwrittenCharacterDataset/...      0
3      dataset/DevanagariHandwrittenCharacterDataset/...      0
4      dataset/DevanagariHandwrittenCharacterDataset/...      0
...                                                  ...    ...
78195  dataset/DevanagariHandwrittenCharacterDataset/...     45
78196  dataset/DevanagariHandwrittenCharacterDataset/...     45
78197  dataset/DevanagariHandwrittenCharacterDataset/...     45
78198  dataset/DevanagariHandwrittenCharacterDataset/...     45
78199  dataset/DevanagariHandwrittenCharacterDataset/...     45

[78200 rows x 2 columns]

In [51]:
testing_data.replace(to_replace=character2int.keys(),value=character2int.values(),
                     inplace=True)

/tmp/ipykernel_2487/3185811566.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  testing_data.replace(to_replace=character2int.keys(),value=character2int.values(),

In [52]:

testing_data

                                                img_path  label
0      dataset/DevanagariHandwrittenCharacterDataset/...      0
1      dataset/DevanagariHandwrittenCharacterDataset/...      0
2      dataset/DevanagariHandwrittenCharacterDataset/...      0
3      dataset/DevanagariHandwrittenCharacterDataset/...      0
4      dataset/DevanagariHandwrittenCharacterDataset/...      0
...                                                  ...    ...
13795  dataset/DevanagariHandwrittenCharacterDataset/...     45
13796  dataset/DevanagariHandwrittenCharacterDataset/...     45
13797  dataset/DevanagariHandwrittenCharacterDataset/...     45
13798  dataset/DevanagariHandwrittenCharacterDataset/...     45
13799  dataset/DevanagariHandwrittenCharacterDataset/...     45

[13800 rows x 2 columns]

In [53]:
Y_true_train = to_categorical(y=training_data["label"],num_classes=46)

In [54]:
Y_true_train

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]], dtype=float32)

In [55]:
Y_true_test = to_categorical(y=testing_data["label"],num_classes=46)

In [56]:
Y_true_test

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]], dtype=float32)